{% extends 'base.html' %}
<html>
{% block head %}
{% parent %}
{% endblock %}

<body>
    {% block nav %}
    {% parent %}
    {% endblock %}
    {% block content %}

    <div class="uk-card uk-card-body">
        <h3 id="text" class="uk-card-title">Introduce your github repo and url to get your commits</h3>
        <form action="/form" method="POST">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" name="username" id="username" type="text" placeholder="username" />
                    <input class="uk-input" name="repo" id="repo" type="text" placeholder="repo" />
                </div>
                <button type="submit" class="uk-button uk-button-primary">Obtain commits</button>
            </fieldset>
        </form>
        <textarea rows="1" class="uk-textarea">Number of commits: {{commits.length}}</textarea>
        
        <ul class="uk-child-width-auto" uk-sortable="handle: .uk-card"
            uk-grid>
            {% for commit in commits %}
            <li>
                <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom"></h3>
                                    <p class="uk-text-meta uk-margin-remove-top">Pusher: {{commit.author.login}}, {{commit.commit.author.email}}</p>
                                    <p class="uk-text-meta uk-margin-remove-top"><time> {{commit.commit.author.date}}</time></p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>{{commit.commit.message}}</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="{{commit.url}}" class="uk-button uk-button-text">See on github</a>
                        </div>
                    </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
    {% block scripts %}
    {% parent %}
    {% endblock %}
</body>

</html>